@using SqlHealthMonitor.BLL.Models.WebPages
@model SqlHealthMonitor.BLL.Models.WebPages.ManagePreferenceUserViewModel
@if (Request.IsAuthenticated && User.Identity.Name == "Admin")
{
    <div class="card text-white bg-primary mb-3">
        <div id="managePreferenceUserDialog"></div>
        <div class="card-header">Admin Panel</div>
        <div class="card-body text-center">
            <button class="btn btn-primary" type="button" id="createPages_but">@Resources.Global.CreatePagesinDatabase</button>
        </div>
    </div>
}
<div id="WidgetGrid"></div>
@Styles.Render("~/Content/jtable/css")
@Scripts.Render("~/bundles/jtable")

@section NavBar{

@Html.Partial("ManageMyAccountNavBar")

    }

<script>

        $(document).ready(function () {
            $('#WidgetGrid').jtable({
                jqueryuiTheme: true,
                title: 'Table of pages',
                actions: {
                    listAction: '@Url.Action("ReadPages", Model.ControllerName)',
                    //createAction: '/GettingStarted/CreatePerson',
                    //updateAction: '/GettingStarted/UpdatePerson',
                    //deleteAction: '/GettingStarted/DeletePerson'
                },
                fields: {
                    PageId: {
                        key: true,
                        list: false
                    },
                    PageName: {
                        title: 'Name',
                        width: '40%'
                    },
                    PageType: {
                        title: 'PageName',
                        width: '20%'
                    },
                  
                }
            });
            $('#WidgetGrid').jtable('load');
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        (function (sqlHealthMonitor, $, undefined) {
            $("#createPages_but").button()
                .click(function (event) {
                    sqlHealthMonitor.showModalDialog("Create Pages", '@Resources.Global.CreatePagesNotice', createPages);

                });

            var createPages = async function createPages() {
                try {
                    var data = await sqlHealthMonitor.jsonRequest("@Url.Action("CreatePages", Model.ControllerName)");
                    sqlHealthMonitor.showOkDialog(data.Message)
                }
                catch (e) {
                    sqlHealthMonitor.showErrorDialog(e.Message)
                }
              
            }
     }(window.sqlHealthMonitor = window.sqlHealthMonitor || {}, jQuery));
    });

</script>