@using SqlHealthMonitor.DAL.Models.WebPages
@model SqlHealthMonitor.BLL.Models.WebPages.PageViewModelBase
 @{
     var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
 }

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/main/css")
@Styles.Render("~/Content/JqueryUI/css")

<head>
    <!-- Bootstrap CSS -->
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SqlHealthStatus- @Model.PageName</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/utility")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/JQueryUI")


</head>

<body  id="body">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark bg-primary" id="MainTopNavbar">
            <div id="ViewTitle" class="nav-item" href="#"><div id="ApplicationName" style="color:#f9b303">SqlHealthMonitor</div></div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation" ,aria-controls="navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="navbar-nav mr-auto ">
                    @Ajax.ActionLinksBuilder("", "", "nav-link", x => x.Name == "Home")
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Global.Views<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @Ajax.ActionLinksBuilder("", "", "dropdown-item", x => x.Type == typeof(SqlDashBoardPage))
                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Global.Tools<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @*@Ajax.ActionLinksBuilder("<li>", "</li>", x => x.Item4 == typeof(ToolPage))*@
                        </div>
                    </li>

                </ul>
                <ul class="navbar-nav  ml-auto">

                    @Html.Partial("_LoginPartial")

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Global.Language<span class="caret"></span></a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Czech", "SaveLanguagePreference", Model.ControllerName, new { Language = "cs-CZ" }, new { @Class = "dropdown-item" })
                            @Html.ActionLink("English", "SaveLanguagePreference", Model.ControllerName, new { Language = "en-US" }, new { @Class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </nav>
    <!--Nav bar for displaying where user is on web page-->
    <nav id="navBar">
        @RenderSection("NavBar", required: false)
    </nav>
    <!-- /Nav bar  -->
        <div id="errorBlock">
        </div>
        <div id="okBlock">
        </div>
        <div id="modalDialogBlock">
        </div>

        <div class="container-fluid">
            <!-- Main component for a primary marketing message or call to action -->
            <div style="text-align: center">
                <div id="containerForBody" class="jumbotron">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /container -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


</body>
</html>
@RenderSection("Scripts", false)
<script>
    $(document).ready(function () {
        (function (sqlHealthMonitor, $, undefined) {
            document.addEventListener('keydown', function (e) {
                if (e.keyCode == 13 || e.keyCode == 70) { // F or Enter key
                    sqlHealthMonitor.toggleFullScreen("containerForBody");
                }
            }, false);

            $(window).on("load", function () {

                CheckForError();
                CheckForOk();
            });

            function CheckForError() {
           @if (Model != null && Model.Error != null)
             {
            <text>sqlHealthMonitor.showErrorDialog('@Model.Error.Message');</text>
              }

            };
            function CheckForOk() {
           @if (Model != null && (Model.OkMessage != null && Model.OkMessage!=""))
           {
            <text>sqlHealthMonitor.showOkDialog('@Model.OkMessage');</text>
              }

            };

        }(window.sqlHealthMonitor = window.sqlHealthMonitor || {}, jQuery));
    });
    </script>

