    <a href="#" class="@ViewData["aClass"] dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        @(@Resources.Global.Hello + "  " + User.Identity.GetUserName() + "!")<span class="caret"></span>
    </a>
    <div class="dropdown-menu">
        <div class="dropdown-header">@Resources.Global.MyAccount</div>
        @Html.ActionLink(@Resources.Global.Password, "Index", "ManageLoginUser", routeValues: null, htmlAttributes: new { title = "ManageLoginUser", @Class = "dropdown-item" })
        @Html.ActionLink(@Resources.Global.Preferenceforpages, "Index", "ManagePreferenceUser", null, new { @Class = "dropdown-item" })
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
            <div role="separator" class="dropdown-divider"></div>
                <div class="dropdown-header">@Html.Raw(@Resources.Global.ManageinAdminmode)</div>
                        @Html.ActionLink(@Resources.Global.Roles, "Index", "RolesAdmin", null, new { title = "ManageLoginUser", @Class = "dropdown-item" })
                        @Html.ActionLink(@Resources.Global.Users, "Index", "UsersAdmin", null, new { title = "ManageLoginUser", @Class = "dropdown-item" })

        }
    </div>