@{
    ViewBag.Title = @Resources.Global.ResetpasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       @Resources.Global.ResetpasswordConfirmationMessage @Html.ActionLink(@Resources.Global.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
