@model SqlHealthMonitor.BLL.Models.WebPages.PageViewModelBase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" id="SqlDashBoardTopNavbar">
            @*<div class="container-fluid">*@
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#SqlDashBoardTopNavbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SqlDashBoard-Settings</a>
            </div>
            <div id="SqlDashBoardTopNavbar-collapse" class="navbar-collapse collapse" style="float:left">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString()== "Index" ? "active":"") ">
                        <a href="@Url.Action("Index", Model.ControllerName)">@Resources.Global.WidgetsView</a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString()== "AddNewWidget" ? "active":"") ">
                        <a href="@Url.Action("AddNewWidget", Model.ControllerName)">@Resources.Global.AddNewWidget</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Settings/AddDbServer", Model.ControllerName)">Settings</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
            @*</div>*@
        </nav>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @RenderBody()

    </div>
</div>
@RenderSection("Scripts", false)

