<div class="card border-secondary text-white bg-dark  mb-3 ">
    <div class="card-header">@Resources.Global.Views</div>
    <div class="card-body">
        <div style="text-align:center">
            <ul style="display:inline-block;text-align:center" class="nav nav-pills nav-stacked">
                @Ajax.ActionLinksBuilder("<li class='nav - item'>", "</li>", "nav-link ", x => x.Controller != "Home")
            </ul>
        </div>
    </div>
</div>




@section NavBar{
<ol class="breadcrumb">
    <li class="breadcrumb-item ">
      @Resources.Global.Home
    </li>

</ol>
<ul class="nav nav-tabs">
    <li class="nav-item">
        @Html.ActionLink(@Resources.Global.Home, "Index", "Home",new { @Class = "nav-link active" } )

    </li>
 

</ul>
    }