<ol class="breadcrumb">

    <li class="breadcrumb-item ">
        @Html.Partial("UsersDropDown")
        </li>
<li class="breadcrumb-item active">
        @Resources.Global.MyAccount 
    </li>

</ol>
<ul class="nav nav-tabs">
    <li class='nav-item'>
        @Html.ActionLink(@Resources.Global.Password, "Index", "ManageLoginUser",  null, new { @Class = "nav-link " + @Html.IsActive("ChangePassword", "ManageLoginUser")+
        @Html.IsActive("SetPassword", "ManageLoginUser")})
    </li>
    <li class='nav-item'>
        @Html.ActionLink(@Resources.Global.Preferenceforpages, "Index", "ManagePreferenceUser", null,  new { @Class = "nav-link " + @Html.IsActive("Index", "ManagePreferenceUser") })
    </li>
  
</ul>
@*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <li class='nav - item'>
        @Html.ActionLink(@Resources.Global.Roles, "Index", "RolesAdmin", null, new { title = "ManageLoginUser", @Class = "dropdown-item" })
    </li>
    <li class='nav - item'>
        @Html.ActionLink(@Resources.Global.Users, "Index", "UsersAdmin", null, new { title = "ManageLoginUser", @Class = "dropdown-item" })
    </li>
}*@