<ol class="breadcrumb">
    <li class="breadcrumb-item ">
               @Html.Partial("UsersDropDown", new ViewDataDictionary { { "liClass", "breadcrumb-item" } })

    </li>
    <li class="breadcrumb-item ">
       @Resources.Global.ForeignAccounts
    </li>
    <li class="breadcrumb-item ">
        @Resources.Global.ChangePassword
    </li>
</ol>
<ul class="nav nav-tabs">
    <li class='nav - item'>
        @Html.ActionLink(@Resources.Global.Password, "Index", "ManageLoginUser", null, new { @Class = "nav-link " + @Html.IsActive("Index", "ManageLoginUser") })
    </li>

    <li class='nav - item'>
        @Html.ActionLink(@Resources.Global.Preferenceforpages, "Index", "ManagePreferenceUser", null, new { @Class = "nav-link " + @Html.IsActive("Index", "ManagePreferenceUser") })
    </li>

</ul>
