@model SqlHealthMonitor.BLL.Models.Identity.UserLogin.ApplicationUserPageViewModel

@{
    ViewBag.Title = @Resources.Global.Details;
}


<div>
    <h2>@Resources.Global.User</h2>
    <dl >
        <dt>
            @Resources.Global.UserName.
           
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Users.SingleOrDefault().UserName)
        </dd>
    </dl>
</div>
<h4>@Resources.Global.Listofrolesforthisuser</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>@Resources.Global.Norolesfoundforthisuser</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<div class="form-group">
    <div style="display:inline-block;clear:both">
        @Html.ActionLink(@Resources.Global.Edit, "Edit", new { id = Model.Users.FirstOrDefault().Id }, new { @class = "btn btn-default" })
    </div>
</div>


@section NavBar{

    <ol class="breadcrumb">
        <li class="breadcrumb-item ">
                   @Html.Partial("UsersDropDown", new ViewDataDictionary { { "liClass", "breadcrumb-item" } })
        </li>
        <li class="breadcrumb-item">
           @Resources.Global.ForeignAccounts

        </li>
        <li class="breadcrumb-item">
            @Html.ActionLink(Resources.Global.Users, "Index", "UsersAdmin", null, new { @Class = @Html.IsActive("Index", "UsersAdmin") })
        </li>
        <li class="breadcrumb-item active">
            @Resources.Global.Details
        </li>

    </ol>


}
