@model SqlHealthMonitor.BLL.Models.WebPages.DatabasesSizePageViewModel
@Styles.Render("~/Content/jtable/css")
@Scripts.Render("~/bundles/jtable")
<div id="databaseSizeTable_@Model.Widget.WidgetId.ToString()"></div>

<script>
    $(document).ready(function () {
        (function (sqlHealthMonitor, $, undefined) {

            $('#databaseSizeTable_@Model.Widget.WidgetId.ToString()').jtable({
                sorting: true,
                jqueryuiTheme:true,
                title: '@Model.Widget.Name',
                actions: {
                        listAction: '@Html.Raw(@Url.Action("Read","DatabasesSizeWidget",
                                    @Html.RouteValueDictonaryBuilder(new { SqlServerDataId = Model.Widget.SqlServerDataId, DatabaseIds = Model.Widget.DatabaseIds })))',
                },
                recordsLoaded: function (event, data) {

                                },
                fields: {
                                    DatabaseId: {
                                        title: 'Database Id',

                    },
                    DatabaseName: {
                                        title: 'Database Name'
                    },
                    Type: {
                                        title: 'Type',

                    },
                    SizeMB: {
                                        title: 'Size MB',
                    }
                                }

                                });

            $.hik.jtable.prototype._showError = function (message) {
                                    sqlHealthMonitor.showErrorDialog(message);
                                };

            $('#databaseSizeTable_@Model.Widget.WidgetId.ToString()').jtable('load');
              setInterval(function () {
                    $('#databaseSizeTable_@Model.Widget.WidgetId.ToString()').jtable('reload');

                },@Model.Widget.UpdateInterval==0 ? 60000 : @Model.Widget.UpdateInterval*1000);
                            }(window.sqlHealthMonitor = window.sqlHealthMonitor || {}, jQuery));
    })
</script>
